name: Generate Snake

on:
  # Executa automaticamente todos os dias à meia-noite
  schedule:
    - cron: "0 0 * * *"
  # Permite executar manualmente a qualquer momento
  workflow_dispatch:
  # Executa a cada push na branch main
  push:
    branches:
    - main
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: Platane/snk@v3
        with:
          # Seu usuário do GitHub
          github_user_name: brrtw
          # Onde a imagem será salva (pasta dist)
          outputs: dist/github-contribution-grid-snake.svg

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          # A branch onde a imagem vai ficar armazenada
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
